<p> 
    <strong>name: </strong> {{name}}<br>
    <strong>ingredients: </strong> {{ingredients}}<br>
    <strong>allergy: </strong> {{allergy_advice}}<br>
    <strong>price: </strong> {{price}}<br>
</p>
<br>