<p class="w3-text-grey" style="line-height: 1.2; margin-left: 40px;"> 
    <strong>{{name}}</strong><br>
    {{ingredients}}<br>
    {{allergy_advice}}<br>
    {{price}} £<br>
    {{#jwt}}
        <a href="/update/{{_id}}"><button>Edit</button></a>
        {{^available}}
            <a href="/avail/{{_id}}"><button>Make available</button></a>
        {{/available}}
        {{#available}}
            <a href="/unavail/{{_id}}"><button>Make unavailable</button></a>
        {{/available}}
    {{/jwt}}
</p>
<br>