<html>
    <header>{{>header}}</header>
    <body>
        <div align="right"><a href="/staff">Staff</a></div>
        Booking<br>
        <a href="/menus">Menus</a>
        <br>About Us
    </body>
</html>