<html>
    <header>{{>header}}</header>
    <body>
        {{^jwt}}
            <div align="right"><a href="/staff">Staff</a></div>
        {{/jwt}}
        {{#jwt}}
            <div align="right"><a href="/logout">Log out</a></div>
        {{/jwt}}
        Booking<br>
        <a href="/menu">Menu</a>
        <br>About Us
    </body>
</html>