<html>
    <header>{{>header}}</header>
    <body>
        <h2>Staff Login</h2>
        <form method="POST" action="/staff">
            <input type="text" id="username" name="username" placeholder="Username..."><br>
            <input type="text" id="password" name="password" placeholder="Password..."><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>