<html>
    <header>{{>header}}</header>
    <body>
        <div class="w3-top">
            <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
                <a href="/" class="w3-bar-item w3-button">Generic's Restaurant</a>
            </div>
        </div><hr><hr>

        <form method="POST" action="/staff">
            <input type="text" id="username" name="username" placeholder="Username..." pattern="[a-zA-Z0-9]+" required><br>
            <input type="password" id="password" name="password" placeholder="Password..." pattern="[a-zA-Z0-9]+" required><br>
            <input type="submit" value="Submit">
        </form>
        {{#name_error}}
            <strong>There is no user by that name...</strong>
        {{/name_error}}
        {{#pass_error}}
            <strong>The password is incorrect...</strong>
        {{/pass_error}}

        {{>footer}}
    </body>
</html>